body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.currpage{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(181, 201, 201);
}

.page-link{
    color:white;
}

.links-in-the-center {
    flex:1;
    align-self: center;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.below-name {
    font-style: italic;
}

.tag{
    display:inline;
    background-color: rgb(192, 165, 187);
}

section {
    margin-top: 20px;
}

.background-container {
    background-image: url('../img/backgroundpic1\ copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    color: rgb(236, 239, 238);
    text-align: center;
    padding: 20px;
}

.above-links{
    flex:1;
}

.current-page {
    transition: transform 0.5s;
}

.hidden {
    transform: translateY(100%);
    display: none;
}
